    <!-- Eventos -->
    <section class="eventos">
        <h4>Eventos</h4>
        <div class="evento-lista">
          <div class="evento">
            <div class="">
              🌍 Limpieza de playa<br />
              📅 12 Ene 2025<br />
              📍 Valencia
            </div>
          </div>
          <div class="evento">
            <div class="">
              🍽️ Reparto de comida<br />
              📅 05 Dic 2024<br />
              📍 Madrid
            </div>
          </div>
        </div>
      </section>
