// Variables
$font-family: "Montserrat", sans-serif;
$background-color: #1d1d1d;
$primary-color: #d04b4b;
$white: #ffffff;
$grey: #464646;
$light-grey: #272727;
$font-size-small: small;
$font-size-medium: medium;
$font-size-x-small: x-small;
$font-size-x-large: x-large;

@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


.usuario {
  display: flex;
  align-items: center;
  padding: 10px;
  max-width: 100%;
}


.usuario-nombre {
  margin: 0;
  margin-left: 10px;
  font-size: $font-size-medium;
}

.card-body {
  background-color: $grey !important;
  padding: 15px;
  font-weight: light;
  border-radius: 20px;
}

.posts{
  padding: 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.post {
  background-color: $grey;
  border-radius: 30px;
  color: $white;
  margin-bottom: 20px;
  width: 100%;
}

.post-contenido {
  margin-left: 50px;
  margin-right: 10px;
  font-size: $font-size-small;
}


.usuario {
  max-width: 100%;
}


.delete-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: auto;
  transition: color 0.3s ease, transform 0.3s ease;

  &:hover {
    color: red;
    transform: scale(1.1);
  }
}

.profile-pic {
  border-radius: 50px;
  object-fit: cover;
}

.like-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 5px;

  .heart-icon {
    font-size: 20px;
    color: $white;
    transition: transform 0.2s ease, color 0.2s ease;
  }

  &:hover .heart-icon {
    color: $primary-color;
    transform: scale(1.1);
  }

  .likes-count {
    color: $white;
  }
}

.bi-heart-fill {
  color: $primary-color !important;
}

.post-actions {
  display: flex;
  align-items: center;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0 5px;

  &:hover {
    color: $primary-color;
    transform: scale(1.1);
  }
}

.icon-button {.comment {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
}

  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0 5px;
}

.icon-button i {
  font-size: 1.2rem;
  color: white;
  padding-right: 5px;

  &:hover{
    color: $primary-color;
  }
}




.comment-textarea {
  background-color: $grey;
  border: none;
  border-radius: 20px;
  color: $white;
  padding: 10px;
  width: 100%;
  resize: none;
  font-size: $font-size-small;
}

.comment-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.comment-button {
  background-color: $primary-color;
  border: none;
  border-radius: 20px;
  color: $white;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: darken($primary-color, 10%);
    transform: scale(1.05);
  }
}

.cancel-button {
  background-color: $light-grey;
  &:hover {
    background-color: darken($light-grey, 10%);
  }
}


.comments {
  margin-top: 20px;
  padding: 10px;
  background-color: $light-grey;
  border-radius: 10px;
}

.comment {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  border: none;
}

.comment:last-child {
  margin-bottom: 0;
}

.comment .profile-pic {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.comment .comment-content {
  background-color: $grey;
  border-radius: 10px;
  padding: 10px;
  color: $white;
  width: 100%;
}

.comment .comment-content .comment-author {
  font-weight: bold;
  margin-bottom: 5px;
}

.comment .comment-content .comment-text {
  font-size: $font-size-small;
}

.comment .comment-actions {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

