
<div class="posts">
  <div *ngFor="let post of posts" class="post">
    <div class="postContainer">
    <div class="usuario">
      <img
        [src]="userProfilePictures.get(post.user.id)"
        [alt]="post.user.name"
        class="profile-pic"
        width="32"
        height="32"
      />
      <h5 class="usuario-nombre">{{ userNickNames.get(post.user.id) }}</h5>
      <button *ngIf="user?.id === post.user.id" (click)="deletePost(post.id)">
        Delete
      </button>
    </div>
    <p class="post-contenido card-text">{{ post.content }}</p>
    <button (click)="toggleLike(post)">
      {{ post.liked ? "Dislike" : "Like" }} ({{ post.likes }})
    </button>
  </div>
  </div>
</div>
