<div *ngFor="let post of posts" class="post">
  <div class="post-header">
    <img
      [src]="userProfilePictures.get(post.user.id)"
      [alt]="post.user.name"
      class="profile-pic"
      width="32"
      height="32"
    />
    <p>{{ userNickNames.get(post.user.id) }}</p>
    <button *ngIf="user?.id === post.user.id" (click)="deletePost(post.id)">
      Delete
    </button>
  </div>
  <p>{{ post.content }}</p>
  <button (click)="toggleLike(post)">
    {{ post.liked ? "Dislike" : "Like" }} ({{ post.likes }})
  </button>

  <div class="comments">
    <app-comment
      *ngFor="let comment of post.comments"
      [comment]="comment"
      [currentUserId]="user?.id"
      (commentDeleted)="onCommentDeleted(comment.id, post.id)"
    ></app-comment>
  </div>

  <!-- Boton de comentarios -->
  <button (click)="showCommentInput(post.id)">Add Comment</button>

  <!-- Mostrar area de texto para comentario y boton de enviar. -->
  <div *ngIf="commentingPostId === post.id">
    <textarea [(ngModel)]="newComment" placeholder="Write a comment"></textarea>
    <button (click)="addComment(post.id)">Submit</button>
  </div>
</div>
