// Variables
$font-family: "Montserrat", sans-serif;
$background-color: #1d1d1d;
$primary-color: #d04b4b;
$white: #ffffff;
$grey: #464646;
$light-grey: #272727;
$font-size-small: small;
$font-size-medium: medium;
$font-size-x-small: x-small;
$font-size-x-large: x-large;

@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


.usuario {
  display: flex;
  align-items: center;
  padding: 10px;
  max-width: 100%;
}


.usuario-nombre {
  margin: 0;
  margin-left: 10px;
  font-size: $font-size-medium;
}

.card-body {
  background-color: $grey !important;
  padding: 15px;
  font-weight: light;
  border-radius: 20px;
}

.posts{
  max-width: 100%;
  padding: 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.post {
  background-color: $grey;
  border-radius: 30px;
  color: $white;
  margin-bottom: 20px
}

.usuario {
  max-width: 100%;
  
}

.post-contenido {
  margin-left: 50px;
  margin-right: 10px;
  font-size: $font-size-small;
}


.profile-pic {
  border-radius: 50px;
  object-fit: cover;
}

.like-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 5px;

  
  .heart-icon {
      width: 20px;
      height: 20px;
      transition: transform 0.2s ease;
  }
  
  &:hover .heart-icon {
      transform: scale(1.1);
  }
  
  .likes-count {
      color: $white;
  }
}
