@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";

// GLOBALES
* {
  background-color: transparent;
  font-family: $font-family;
  color: $white;
  padding: 0;
  margin: 0;
}

body {
  @include fondo-voluntapp;
  min-height: 100vh;
}

// OCULTAR EL MENÚ NAV BAR EXCLUSIVO DE DESKTOP Y EL LISTADO DE POSTS
app-navbar-profile{
  display: none;
}

// CONTENEDOR PRINCIPAL
.container-fluid {
  padding: 9%;
  min-height: 58vh;

  .titulo-posts{
    margin-top: 30px;
  }

  h4 {
    @include degradado-horizontal-texto($white, $grey);
    margin-bottom: 20px;
  }
  .bio {
    .bio-content {
      @include degradado-horizontal(#ff6060, #ffb000);
      border-radius: 15px;
      padding: 15px;
      background-color: red;
    }
  }

  .mis-posts {
    display: flex;
    a {
      margin-left: auto;
      text-decoration: none;

      i {
        margin-left: 10px;
      }
    }
  }
}

// MEDIA DESKTOP
@media (min-width: 769px) {
  // CONTENEDOR PRINCIPAL
  .container-fluid {
    padding-top: 2%;

    .titulo-posts{
      display: none;
    }

    // OCULTAR BIOGRAFÍA (MOBILE) Y BOTÓN (VER MIS POSTS)
    .bio,
    .mis-posts {
      display: none;
    }
  }

  // MOSTRAR EL MENÚ NAVBAR EXCLUSIVO DE DESKTOP Y LISTADO DE POSTS
  app-navbar-profile,
  app-post-list {
    display: flex;
  }
}
