<header id="profile_header">
  <div id="back">
    <img src="assets/icons/back-arrow.svg" alt="Go back" (click)="goBack()" />
  </div>
  <div id="profile_info" *ngIf="user">
    <img [src]="profilePictureUrl" [alt]="user.profile.nickname" />
    <h2 id="nickname">{{ user.profile.nickname }}</h2>
    <p id="interests" *ngIf="user.profile.interests">
      {{ user.profile.interests }}
    </p>
    <p id="rating" *ngIf="user.profile.rating">
      Rating: {{ user.profile.rating }} 🌟
    </p>
    <div id="settings">
      <img
        src="assets/icons/settings.svg"
        alt="Settings"
        (click)="toSettings()"
      />
    </div>
  </div>
</header>


<!-- INICIO SEGUNDA PRUEBA INTERACCION SOLICITUDES DE AMISTAD -->
<!-- Sección de solicitudes de amistad pendientes -->
<!-- <div class="friendship-requests" *ngIf="friendshipRequests.length > 0">
  <h3>Solicitudes de Amistad Pendientes</h3>
  <ul>
    <li *ngFor="let request of friendshipRequests">
      <div class="friend-info">
        Imagen de perfil del remitente 
        <p>{{request.sender.profile.nickname}}</p>
        
        <img 
          [src]="baseUrl+'/'+sender!.profile!.profile_picture_route" 
          alt="Imagen de {{ request.sender.profile.nickname }}"
        >
        <span>{{sender?.profile?.nickname}}</span>
      </div>
      <div class="actions">
        <button (click)="acceptFriendshipRequest(request)">Aceptar</button>
        <button (click)="rejectFriendshipRequest(request)">Rechazar</button>
      </div>
    </li>
  </ul>
</div> -->

<!-- FIN SEGUNDA PRUEBA INTERACCION SOLICITUDES DE AMISTAD -->


<!-- INICIO TERCERA PRUEBA INTERACCION SOLICITUDES DE AMISTAD -->
<!-- Sección de solicitudes de amistad pendientes -->
<!--<div class="friendship-requests" *ngIf="friendshipRequests.length > 0">
  <h3>Solicitudes de Amistad Pendientes</h3>
  <ul>
    <li *ngFor="let request of friendshipRequests">
      <div class="friend-info">
         Imagen de perfil del remitente 
        <img 
          [src]=" request.sender?.profile?.profile_picture_route" 
          alt="Imagen de {{ request.sender?.name }}"
        >
        <span>{{ request.sender?.profile?.nickname }}</span>
      </div>
      <div class="actions">
        <button (click)="acceptFriendshipRequest(request)">Aceptar</button>
        <button (click)="rejectFriendshipRequest(request)">Rechazar</button>
      </div>
    </li>
  </ul>
</div>-->
<!-- FIN TERCERA PRUEBA INTERACCION SOLICITUDES DE AMISTAD -->


<main>
  <!-- Barrita navegadora con Eventos, Posts y Logros -->
  <nav>
    <ul>
      <li>
        <a
          [class.active]="activeView === 'eventos'"
          (click)="setActiveView('eventos')"
          style="font-weight: bold"
          >Eventos</a
        >
      </li>
      <li>
        <a
          [class.active]="activeView === 'posts'"
          (click)="setActiveView('posts')"
          style="font-weight: bold"
          >Posts</a
        >
      </li>
      <li>
        <a
          [class.active]="activeView === 'logros'"
          (click)="setActiveView('logros')"
          style="font-weight: bold"
          >Logros</a
        >
      </li>
      <li>
        <a
          [class.active]="activeView === 'friendRequests'"
          (click)="setActiveView('friendRequests')"
          style="font-weight: bold"
          >Solicitudes de Amistad</a
        >
      </li>
    </ul>
  </nav>
  <!-- modulo que corresponda segun se pinche en la barrita -->
  <app-events *ngIf="activeView === 'eventos'"></app-events>

  <div *ngIf="activeView === 'posts'">
    <h2>Mis Posts</h2>
    <!-- En esta etiqueta, ya que app-post-list tiene un input de user id
    nos permite pasar el usuario y filtrar por si hiciera falta -->
    <app-post-list [userId]="user?.id"></app-post-list>
  </div>

  <app-logros *ngIf="activeView === 'logros'"></app-logros>

  <app-friend-requests *ngIf="activeView === 'friendRequests'"></app-friend-requests>
  
</main>
<app-footer></app-footer>
