<header id="profile_header">
  <div id="back">
    <img src="assets/icons/back-arrow.svg" alt="Go back" (click)="goBack()" />
  </div>
  <div id="profile_info" *ngIf="user">
    <img [src]="profilePictureUrl" [alt]="user.profile.nickname" />
    <h2 id="nickname">{{ user.profile.nickname }}</h2>
    <p id="interests" *ngIf="user.profile.interests">
      {{ user.profile.interests }}
    </p>
    <p id="rating" *ngIf="user.profile.rating">
      Rating: {{ user.profile.rating }} 🌟
    </p>
    <div id="settings">
      <img
        src="assets/icons/settings.svg"
        alt="Settings"
        (click)="toSettings()"
      />
    </div>
  </div>
</header>
<main>
  <!-- Barrita navegadora con Eventos, Posts y Logros -->
  <nav>
    <ul>
      <li>
        <a
          [class.active]="activeView === 'eventos'"
          (click)="setActiveView('eventos')"
          style="font-weight: bold"
          >Eventos</a
        >
      </li>
      <li>
        <a
          [class.active]="activeView === 'posts'"
          (click)="setActiveView('posts')"
          style="font-weight: bold"
          >Posts</a
        >
      </li>
      <li>
        <a
          [class.active]="activeView === 'logros'"
          (click)="setActiveView('logros')"
          style="font-weight: bold"
          >Logros</a
        >
      </li>
    </ul>
  </nav>
  <!-- modulo que corresponda segun se pinche en la barrita -->
  <app-events *ngIf="activeView === 'eventos'"></app-events>

  <div *ngIf="activeView === 'posts'">
    <h2>Mis Posts</h2>
    <p>
      ==============<br />
      ==============<br />
      ==============<br />
    </p>
  </div>

  <app-logros *ngIf="activeView === 'logros'"></app-logros>
</main>
<app-footer></app-footer>
