<h2 class="tituloGrupos">Grupos</h2>
<br>
<ng-template #formGroup>
  <form class="formGroup" method="POST" (ngSubmit)="onSubmit($event)">
    <input
      type="text"
      [(ngModel)]="groupNameForm"
      name="groupName"
      placeholder="Nombre del grupo"
    />
    <input
      type="text"
      [(ngModel)]="groupDescriptionForm"
      name="groupDescription"
      placeholder="Descripción"
    />
    <input
      type="text"
      [(ngModel)]="groupReputationForm"
      name="groupReputation"
      placeholder="Reputación requerida"
      hidden
    />
    <br />
    <button (click)="openFormGroup()" (click)="crearGrupo()" type="submit">
      Crear Grupo
    </button>
    <br /><br />
    <button (click)="openFormGroup()">Cancelar</button>
  </form>
</ng-template>

<!-- Lista de grupos -->
<div *ngFor="let group of groups">
  <h5 class="nombreGrupo">
    {{ group.name }}
    <i
      class="arrow-icon"
      (click)="getGroupDetalles(group.id); cargarMiembros(group.id)"
    >
      {{ expandedGroupId === group.id ? "↑" : "↓" }}
    </i>
  </h5>

  <div class="descripcionGrupo" *ngIf="expandedGroupId === group.id">
    <p><strong>Descripción:</strong> {{ group.description }}</p>
    <p><strong>Creado por:</strong> {{ group.creator.name }}</p>
    <p><strong>Fecha de creación:</strong> {{ group.created_at | date }}</p>

    <!-- Lista de miembros -->
    <p><strong>Miembros:</strong></p>
    <div *ngFor="let member of members">
      <p>{{ profileData[member.id]?.nickname }}</p>
      <img
        style="width: 50px"
        [src]="baseUrl + '/' + profileData[member.id]?.profilePicture"
        [alt]="'Imagen de ' + profileData[member.id]?.nickname"
      />
    </div>

    <!-- Botones de unirse/salirse (fuera del loop de miembros) -->
    <div *ngIf="user?.id !== group.creator.id">
      <br />
      <button
        *ngIf="!esMiembro()"
        (click)="unirseGrupo(group.id)"
        class="unirseGrupoBtn"
      >
        Unirse al Grupo
      </button>

      <button *ngIf="esMiembro()" (click)="abandonarGrupo(group.id)" class="unirseGrupoBtn">
        Salirse del Grupo
      </button>
    </div>
      <br>
    <!-- Botón de borrar para admins -->
    <button
      *ngIf="user?.id === group.creator.id"
      (click)="borrarGrupo(group.id)"
      class="grupos-button eliminar-button"
    >
      Eliminar Grupo
    </button>
  </div>
  <br />
</div>
<!-- Form para crear un grupo -->

<div *ngIf="!formClicked; else formGroup">
  <button class="crearGrupoBtn" (click)="openFormGroup()">
    ¿Quieres crear un grupo?
  </button>
</div>
<br /><br /><br /><br />
