@import '../../../styles/styles.scss';
@import '../../../styles/mixin.scss';

.tituloGrupos{
  @include degradado-horizontal-texto($white, $grey);
}

.crearGrupoBtn {
  background-color: $background-color;
  color: $white;
  border: none;
  padding: 10px 20px;
  font-size: $font-size-medium;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $red;
  }
}

.arrow-icon {
    cursor: pointer;
    margin-left: 10%;
    font-size: $font-size-x-large;
    color: $white;
    font-style: normal !important;
  }
  
  .group-details {
    background-color: $color-secondary;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    color: $white;

    p {
      margin: 5px 0;

    }
  }

.descripcionGrupo {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  background-color: $color-secondary;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  color: $white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  p {
    margin: 10px 0;
    font-size: $font-size-medium;
  }

  strong {
    color: $red;
  }

  img {
    border-radius: 50%;
    margin-top: 10px;
  }
}

.nombreGrupo {
  text-align: justify !important;
  padding-left: 5%;
  font-size: $font-size-medium;
  font-weight: bold;
  color: $red;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  display: flex;
}

.unirseGrupoBtn {
  background-color: $red;
  color: $white;
  border: none;
  padding: 10px 20px;
  font-size: $font-size-medium;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($red, 10%);
  }
}

.formGroup {
  background-color: $color-secondary;
  border-radius: 5px;
  padding: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: $white;

  input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid $grey;
    border-radius: 5px;
    background-color: $background-color;
    color: $white;
  }

  button {
    background-color: $red;
    color: $white;
    border: none;
    padding: 10px 20px;
    font-size: $font-size-medium;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 10px;

    &:hover {
      background-color: darken($red, 10%);
    }
  }
}

.grupos-button {
  background-color: $red;
  border: none;
  border-radius: 20px;
  color: $white;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: darken($red, 10%);
    transform: scale(1.05);
  }
}

.eliminar-button {
  &:hover {
    background-color: darken($color-secondary, 10%);
  }
}