<h2 class="tituloGrupos">Grupos</h2>

<ng-template #formGroup>
  <form class="formGroup" method="POST" (ngSubmit)="onSubmit($event)">
    <input
      type="text"
      [(ngModel)]="groupNameForm"
      name="groupName"
      placeholder="Nombre del grupo"
    />
    <input
      type="text"
      [(ngModel)]="groupDescriptionForm"
      name="groupDescription"
      placeholder="Descripción"
    />
    <input
      type="text"
      [(ngModel)]="groupReputationForm"
      name="groupReputation"
      placeholder="Reputación requerida"
    />
    <br />
    <button (click)="openFormGroup()" (click)="crearGrupo()" type="submit">
      Crear Grupo
    </button>
    <br /><br />
    <button (click)="openFormGroup()">Cancelar</button>
  </form>
</ng-template>

<!-- Lista de grupos -->
<div *ngFor="let group of groups">
  <h5 class="nombreGrupo">
    {{ group.name }}
    <i
      class="arrow-icon"
      (click)="getGroupDetalles(group.id); cargarMiembros(group.id)"
    >
      {{ expandedGroupId === group.id ? "↑" : "↓" }}
    </i>
  </h5>

  <div class="descripcionGrupo" *ngIf="expandedGroupId === group.id">
    <p><strong>Descripción:</strong> {{ group.description }}</p>
    <p><strong>Creado por:</strong> {{ group.creator.name }}</p>
    <p><strong>Fecha de creación:</strong> {{ group.created_at | date }}</p>

    <!-- Lista de miembros -->
    <p><strong>Miembros:</strong></p>
    <div *ngFor="let member of members">
      <p>{{ profileData[member.id]?.nickname }}</p>
      <img
        style="width: 50px"
        [src]="baseUrl + '/' + profileData[member.id]?.profilePicture"
        [alt]="'Imagen de ' + profileData[member.id]?.nickname"
      />
    </div>

    <!-- Botones de unirse/salirse (fuera del loop de miembros) -->
    <div *ngIf="user?.id !== group.creator.id">
      <br />
      <button
        *ngIf="!esMiembro()"
        (click)="unirseGrupo(group.id)"
        class="unirseGrupoBtn"
      >
        Unirse al Grupo
      </button>

      <button *ngIf="esMiembro()" (click)="abandonarGrupo(group.id)">
        Salirse del Grupo
      </button>
    </div>
      <br>
    <!-- Botón de borrar para admins -->
    <button
      *ngIf="user?.id === group.creator.id"
      (click)="borrarGrupo(group.id)"
      class="grupos-button eliminar-button"
    >
      Eliminar Grupo
    </button>
  </div>
  <br />
</div>
<!-- Form para crear un grupo -->

<div *ngIf="!formClicked; else formGroup">
  <button class="crearGrupoBtn" (click)="openFormGroup()">
    ¿Quieres crear un grupo?
  </button>
</div>
<br /><br /><br /><br />

<!--Funciona pero se crea un boton de unirse y salirse por cada miembro (SOLO QUEREMOS UN BOTON EN TODO EL GRUPO)-->

<!-- 
<div *ngFor="let group of groups">
  <h3>{{ group.name }}</h3>


 
  <button *ngIf="user?.id == group.creator.id" 
          (click)="borrarGrupo(group.id)"
          class="btn-danger">
    Eliminar Grupo
  </button>  

  <button (click)="getGroupDetalles(group.id); cargarMiembros(group.id)">
    {{ expandedGroupId === group.id ? 'Cerrar' : 'Abrir' }}
  </button>

  <div *ngIf="expandedGroupId === group.id">
    <p><strong>Descripción:</strong> {{ group.description }}</p>
    <p><strong>Creado por:</strong> {{ group.creator.name }}</p>
    <p><strong>Fecha de creación:</strong> {{ group.created_at | date }}</p>
    <p><strong>Miembros:</strong></p>

    <div *ngFor="let member of members">
      <p>{{ profileData[member.id]?.nickname }}</p>

      <img 
        style="width: 50px;" 
        [src]="baseUrl + '/' + profileData[member.id]?.profilePicture" 
        [alt]="'Imagen de ' + profileData[member.id]?.nickname"
      >

      <div *ngIf="user?.id == member.id && user?.id !=group.creator.id">
        <button (click)="abandonarGrupo(group.id)">
          Salirse
        </button>
      </div>

      <div *ngIf="user?.id != member.id && user?.id !=group.creator.id">
        <button (click)="unirseGrupo(group.id)">
          Unirse
        </button>
      </div>

    </div>
  </div>
</div> -->

<!--NO FUNCIONA POR EL TEMA ASÍNCRONO DE LLAMAR FUNCIONES, SERVIDOR Y DEMÁS-->
<!-- <div *ngFor="let group of groups ">
    <h3>{{group.name}}</h3>

    <button (click)="getGroupDetalles(group.id)" (click)="cargarMiembros(group.id)">
      {{ expandedGroupId == group.id ? 'Cerrar' : 'Abrir'}}
    </button>

    <div *ngIf="expandedGroupId == group.id">
      <p><strong>Descripción:</strong> {{ group.description }}</p>
      <p><strong>Creado por:</strong> {{ group.creator.name }}</p>
      <p><strong>Fecha de creación:</strong> {{ group.created_at | date }}</p>
      <p><strong>Miembros:</strong></p>
        
        <div *ngFor="let member of members">
          <p>{{conseguirProfileNickname(member.id)}}</p>
          <img style="width: 50px;" [src]="baseUrl+'/'+conseguirProfilePicture(member.id) " [alt]="('Imagen de '+ conseguirProfileNickname(member.id))">
        </div>

    </div>

</div> -->

<!--LISTA DE GRUPOS
<h2>Grupos</h2>
<div *ngFor="let group of groups">
  <div >
      <h3>{{group.name}}</h3>
      <button (click)="getGroupDetalles(group.id)" (click)="getGroupInfo(group.id)" style="background-color: red; color: white;">
          {{ expandedGroupId == group.id ? 'Cerrar' : 'Abrir'}}
      </button>


      <div (click)="getGroupInfo(group.id)" *ngFor="let member of members;">-->
<!-- Si el usuario no es el creador y no es miembro, muestra "Unirse al grupo" -->
<!-- <div *ngIf="group.creator.id !== this.creador?.id && this.user?.id !== member.id; else salirGrupoTemplate">
          <button (click)="entrarGrupo(group)">Unirse al grupo</button>
        </div>
       -->
<!-- Si el usuario es miembro, muestra "Salir del grupo" -->
<!-- <ng-template #salirGrupoTemplate>
          <div *ngIf="this.user?.id === member.id">
            <button (click)="salirGrupo(group)">Salir del grupo</button>
          </div>
        </ng-template>
      </div>


      <div *ngIf="group.creator.id == this.creador?.id">
        <button  (click)="borrarGrupo(group)">Borrar Grupo</button>
      </div>
      
  </div>
   -->

<!-- 
  <div *ngIf="expandedGroupId == group.id">
      <p><strong>Descripción:</strong> {{ group.description }}</p>
      <p><strong>Creado por:</strong> {{ group.creator.name }}</p>
      <p><strong>Fecha de creación:</strong> {{ group.created_at | date }}</p>



      <p><strong>Miembros:</strong></p>
  <div *ngFor="let member of members; let i = index" class="member-container">
    <div class="member-info">
      <p>{{ member.name }}</p>
      <div *ngIf="membersProfile[i]?.profile_picture_route" class="member-image">
        <a [routerLink]="[baseUrl + '/profile/' + membersProfile[i].id]">
          <img [src]="baseUrl + '/' + membersProfile[i].profile_picture_route" alt="Profile picture">
        </a>
      </div>
    </div>
    <p class="member-role">{{ member.pivot.role | titlecase }}</p>
  </div> -->
<!--
      <p><strong>Miembros:</strong></p>
      <div *ngFor="let member of members; let i = index">
          <p>{{ member.name }}</p>
      </div>
      <div *ngFor="let memberProfile of membersProfile">
        <a [routerLink]="['/'+baseUrl+'/profile/'+memberProfile.id]"><img style="width: 100px;" [src]="baseUrl+'/'+memberProfile.profile_picture_route" alt=""></a>
      </div>
  </div>
-->
<!-- 
</div>



<div *ngIf="!formClicked; else formGroup">
  <p>¿Quieres crear un grupo?</p>
  <button (click)="openFormGroup($event)">Crea un grupo</button>
</div>

<ng-template #formGroup>
  <form method="POST" (ngSubmit)="onSubmit($event)">
      <input type="text" [(ngModel)]="name" name="name" placeholder="Nombre del grupo">
      <input type="text" [(ngModel)]="description" name="description" placeholder="Descripción">
      <input type="number" [(ngModel)]="reputation_required" name="reputation_required" placeholder="Reputación requerida">

      <button type="submit">CREAR GRUPO</button>
      <button type="submit" (click)="openFormGroup($event)">Cancelar</button>
  </form>
</ng-template>

<br><br><br><br>
   -->
<!-- <button (click)="loadGroups()">GRUPOS</button> -->
