<body>
  <!-- HEADER DE SETTINGS -->
  <app-settings-header></app-settings-header>

  <div class="container-fluid">
    <div class="caja">
      <h2>Cambiar foto de perfil</h2>
      <img *ngIf="previewUrl" [src]="previewUrl" alt="Vista previa" class="preview-img" />

      <form (ngSubmit)="onSubmit()" #profilePictureForm="ngForm">
        <div class="ajustar-input">
          <input
            type="file"
            (change)="onFileSelected($event)"
            accept="image/*"
            required
          />
        </div>

        <button
          type="submit"
          [disabled]="!selectedFile || selectedFile.size > 2097152"
        >
          Subir
        </button>
        <div *ngIf="selectedFile && selectedFile.size > 2097152" class="error">
          Imagen no puede exceder 2MB.
        </div>
      </form>
    </div>
  </div>

  <app-footer></app-footer>
</body>
