@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";

// GLOBALES
* {
  font-family: $font-family;
  padding: 0;
  margin: 0;
}

html {
  background-color: $background-color;
}

// FOOTER
footer {
  border-top: solid 0.5px #272727;
  background-color: $background-color;
  font-size: $font-size-x-small;
}

.slogan {
  font-size: $font-size-small;
}

.logo {
  width: 30px;
  margin-bottom: 10px;
}

.redes {
  font-size: $font-size-x-large;
  margin-bottom: 10px;
}

.redes a {
  color: $white;
}

.redes a:hover {
  color: $red;
}

.redes i {
  margin: 10px;
}

// TABLET
@media (min-width: 481px) and (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slogan {
    width: 100%;
  }

  .redes-copy-contenedor {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
  }

  .redes {
    margin: auto;
  }

  .copyright {
    position: absolute;
    right: 0;
    width: 20%;
  }
}

// DESKTOP
@media (min-width: 1024px) {
  // FOOTER

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slogan {
    width: 100%;
  }

  .redes-copy-contenedor {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
  }

  .redes {
    margin: auto;
  }

  .copyright {
    position: absolute;
    right: 0;
    padding-top: 20px;
  }
}
