
<!-- FOOTER -->
<footer class="text-center text-light">
    <!-- SLOGAN -->
    <p class="slogan"><em>Juntos hacemos la diferencia.</em></p>
    <!-- LOGO -->
    <img class="logo" src="../../../assets/images/logo1.png" alt="logo" />
    <div class="redes-copy-contenedor">
      <!-- REDES SOCIALES -->
      <div class="redes">
        <i class="bi bi-instagram"></i>
        <i class="bi bi-youtube"></i>
        <i class="bi bi-linkedin"></i>
        <i class="bi bi-github"></i>
        <i class="bi bi-facebook"></i>
      </div>
      <!-- COPYRIGHT -->
      <p class="copyright">
        &copy; 2025 VoluntApp. Todos los derechos reservados.
      </p>
    </div>
  </footer>