@import '../../../styles/variables.scss';
@import '../../../styles/mixin.scss';

p{
  margin-bottom: 0;
}

// FOOTER
  footer {
    border-top: solid 0.5px $color-secondary;
    background-color: transparent;
    font-size: $font-size-x-small;
    margin-top: 0;
  }
  
  .slogan {
    font-size: $font-size-small;
  }
  
  .logo {
    width: 30px;
    margin-bottom: 10px;
  }
  
  .redes {
    font-size: $font-size-x-large;
    margin-bottom: 10px;
  }
  
  .redes i {
    margin: 10px;
  }

  .copyright{
    margin: 0;
  }
  
  @media (min-width: 481px) and (max-width: 768px) {
    
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slogan {
    width: 100%;
  }

  .redes-copy-contenedor {
    justify-content: baseline;
    align-items: baseline;
  }

  .redes {
    margin: auto;
  }

  .copyright {
    position: relative;
    right: 0;
    width: 95%;
    margin-bottom: 0;
  }
}


@media (min-width: 769px) {


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  .slogan {
    width: 100%;
  }

  .redes-copy-contenedor {
    justify-content: baseline;
    align-items: baseline;
  }

  .redes {
    margin: auto;
  }

  .copyright {
    position: relative;
    right: 0;
    padding-top: 20px;
 
  }
}
