<div *ngIf="friendshipRequests.length > 0; else noRequests">
<h3>Solicitudes de Amistad Pendientes</h3>
    <ul>
        <li *ngFor="let request of friendshipRequests">
        
            <div>
                <p>{{request?.sender?.name}}</p>

                <img [src]="baseUrl+'/'+request?.sender?.profile?.profile_picture_route" 
                alt="Imagen de {{request.sender.profile.nickname}}">
            </div>

            <div>
                <button (click)="acceptFriendshipRequest(request)">Aceptar</button>

                <button (click)="rejectFriendshipRequest(request)">Rechazar </button>
            </div>

        </li>
    </ul>
</div>


<ng-template #noRequests>
    <p>No hay solicitudes de amistad pendientes</p>
</ng-template>