<section class="container-fluid">
  <div *ngIf="friendshipRequests.length > 0; else noRequests">
    <h4>Solicitudes de Amistad Pendientes</h4>
    <ul class="solicitudes">
      <li class="solicitud" *ngFor="let request of friendshipRequests">
        <div class="user-info">
          <p>{{ request?.sender?.name }}</p>
          <img
            [src]="
              baseUrl + '/' + request?.sender?.profile?.profile_picture_route
            "
            alt="Imagen de {{ request.sender.name }}"
          />
        </div>
        <p class="texto-desktop">
          {{ request?.sender?.name }} Quiere ser tu amigo 🤗
        </p>
        <div>
          <button id="aceptar" (click)="acceptFriendshipRequest(request)">
            Aceptar
          </button>

          <button id="rechazar" (click)="rejectFriendshipRequest(request)">
            Rechazar
          </button>
        </div>
      </li>
    </ul>
  </div>

  <ng-template #noRequests>
    <p>No hay solicitudes de amistad pendientes</p>
  </ng-template>
</section>
