@import "../../../../styles/variables.scss";
@import "../../../../styles/mixin.scss";

// GLOBALES
* {
  background-color: transparent;
  font-family: $font-family;
  color: $white;
  padding: 0;
  margin: 0;
}

// CONTENEDOR PRINCIPAL
.perfil-cabezera {
  justify-content: space-between;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 1%;

  .foto-perfil {
    width: 60px;
  }

  .perfil-info {
    align-items: center;
    text-align: center;
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    gap: 20px;
  }

  .perfil-info h2 {
    padding: auto;
    justify-content: baseline;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
  }

  // iconos de back y settings
  .bi {
    font-size: x-large;
  }

  .back .bi {
    // color: transparent;
  }
}

// OCULTAMOS BIOGRAFÍA DE LA PARA MOBILE
#interests {
  display: none;
}

@media (min-width: 769px) {
  app-navbar {
    display: none;
  }

  .back .bi {
    color: $white;
  }

  .perfil-info h2 {
    margin-right: 80px;
  }

  .bio-content-header {
    #interests {
      display: block;
    }

    display: flex;
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    justify-content: center;
  }
}
