<header *ngIf="user">
  <div class="perfil-cabezera">
    <!-- FLECHA DE REGRESO -->
    <div class="back">
      <a (click)="goBack()"><i class="bi bi-arrow-left"></i></a>
    </div>

    <!-- FOTO, NOMBRE Y RATING DE PERFIL -->
    <div class="perfil-info">
      <img
        [src]="profilePictureUrl"
        [alt]="user.profile.nickname"
        class="foto-perfil rounded-circle"
      />
      <h2 id="nickname">{{ user.profile.nickname }}</h2>
      <p class="rating" *ngIf="user.profile.rating">
        🌟{{ user.profile.rating }}
      </p>
    </div>

    <!-- BOTÓN SETTINGS -->
    <div id="settings">
      <a [routerLink]="['/settings']">
        <i class="bi bi-gear"></i>
      </a>
    </div>
  </div>

  <!-- BIOGRAFÍA -->
  <div class="bio-content-header">
    <p id="interests" *ngIf="user.profile.interests">
      {{ user.profile.interests }}
    </p>
  </div>
</header>
