<header>
<div id="back">
    <a [routerLink]="['/main']">Go back</a>
</div>

<div>
    <img [src]="friendProfile?.profile?.profile_picture_route" [alt]="friendProfile?.profile?.nickname">
    <h2>{{friendProfile?.profile?.nickname}}</h2>

    <p *ngIf="friendProfile?.profile?.interests">
        {{friendProfile?.profile?.interests}}
    </p>

    <p *ngIf="friendProfile?.profile?.rating">
        {{friendProfile?.profile?.rating}}
    </p>
    <br><br><br>
    
    <!-- Botón para solicitar amistad o dejar de ser amigos -->
  <div *ngIf="user && friendProfile?.friend?.id !== user.id">
    <button *ngIf="!esAmigo" (click)="solicitarAmistad(friendProfile!.friend.id)">
      Solicitar amistad
    </button>
    <button *ngIf="esAmigo" (click)="eliminarAmistad(friendProfile!.friend.id)">
      Dejar de ser amigos
    </button>
  </div>
    
    
    
    
    
    <br><br><br>

    <div id="settings">
        <img
          src="assets/icons/settings.svg"
          alt="Settings"
          (click)="toSettings()"
        />
    </div>
</div>
</header>

<main>
    <!-- Barrita navegadora con Eventos, Posts y Logros -->
     <nav>
        <ul>
            <li>
                <a 
                [class.active]="activeView === 'eventos'"
                (click)="setActiveView('eventos')"
                style="font-weight: bold"
                >Eventos
                </a>
            </li>


            <li>
                <a [class.active]="activeView === 'posts'"
                (click)="setActiveView('posts')"
                style="font-weight: bold"
                >Posts</a>
            </li>


            <li>
                <a [class.active]="activeView === 'logros'"
                (click)="setActiveView('logros')"
                style="font-weight: bold"
                >Logros</a>
            </li>
        </ul>
     </nav>

     <!-- modulo que corresponda segun se pinche en la barrita -->
  <app-events *ngIf="activeView === 'eventos'"></app-events>

  <div *ngIf="activeView === 'posts'">
    <h2>Mis Posts</h2>
    <!-- En esta etiqueta, ya que app-post-list tiene un input de user id
    nos permite pasar el usuario y filtrar por si hiciera falta -->
    <app-post-list [userId]="friendId"></app-post-list>
  </div>

  <app-logros *ngIf="activeView === 'logros'"></app-logros>
</main>
<app-footer></app-footer>



