<div><h1>VoluntApp</h1></div>

<button onclick="function borrasesion(){
    this.localStorage.removeItem('token');
    location.reload();
};">Cerrar sesión</button>

<nav>
    <ul style="display: flex; flex-direction: row;">
        <li><a [routerLink]="['friends']">Amigos</a></li>
        <li><a [routerLink]="['posts']">Posts</a></li>
        <li><a [routerLink]="['profile']"><img [src]="'http://localhost/VoluntApp/app/Server/public/storage/profile_pictures/profile_2_1738603886.png'" alt="Perfil"></a></li>
        
    </ul>
</nav>