<!-- CONTENEDOR PRINCIPAL -->
<div class="container-fluid">
  <header>
    <!-- NAVEGADOR -->
    <nav class="nav container p-3">
      <!-- TITULO -->
      <h1 class="titulo" [routerLink]="['/main']">VoluntApp</h1>
      <!-- BUSCADOR -->
      <div class="buscador-contenedor">
        <input
          type="text"
          class="buscador form-control"
          placeholder="Buscar..."
        />
        <i class="buscador-icon bi bi-search"></i>
      </div>

      <!-- USUARIO  -->
      <img
        src="../../../assets/images/avatar.png"
        alt="Foto Perfil"
        [routerLink]="['/profile']"
        class="foto-perfil"
        alt="Foto de Perfil"
      />
      <!-- [src]="baseUrl + '/' + profilePictureUrl" -->
    </nav>
    <!-- <button (click)="cerrarSesion()">Cerrar sesión</button> -->
  </header>
</div>
