@import "../../../../styles/variables.scss";
@import "../../../../styles/mixin.scss";

// GLOBALES
* {
  background-color: transparent;
  font-family: $font-family;
  color: $white;
  padding: 0;
  margin: 0;
}

.container-fluid {
  margin-top: 35px;
  width: 100%;
  padding: 0;

  h4 {
    @include degradado-horizontal-texto($white, $grey);
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .eventos {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 10%;

    .evento {
      background-color: $grey;
      border-radius: 15px;
      padding: 10px;

      .evento-header {
        display: flex;

        img {
          width: 20px;
          height: 20px;
          border-radius: 50%;
        }

        h5 {
          font-size: 12px;
          margin-top: auto;
          margin-left: 5px;
        }
      }

      .evento-body {
        margin-top: 10px;

        p {
          font-size: 10px;
          margin-block: 5px;

          i {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

@media (min-width: 769px) {
  h4 {
    display: none;
  }

  .eventos {
    display: flex !important;
    flex-direction: column;
    align-items: center;

    .evento {
      width: 60%;
      height: 250px;
      padding: 30px !important;
      margin-block: 30px;

      .evento-header {
        img {
          width: 50px !important;
          height: 50px !important;
        }

        h5 {
          font-size: 21px !important;
          margin-bottom: auto !important;
          margin-left: 15px !important;
        }
      }

      .evento-body {
        p {
          font-size: 16px !important;
          margin-block: 15px !important;

          i {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
