@import "../../../../styles/variables.scss";
@import "../../../../styles/mixin.scss";

// GLOBALES
* {
  background-color: transparent;
  font-family: $font-family;
  padding: 0;
  margin: 0;
  color: $white;
}

// CONTENEDOR PRINCIPAL

html {
  width: 100%;
}

body {
  background-image: url("../../../../assets/images/Wallp-Dark.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

// MENÚ
nav {
  display: flex;
  width: 100%;
  margin-block: 20px;
  justify-content: center;
  align-items: center;

  .menu {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
    width: 60%;
    flex-wrap: wrap;
    list-style: none;
  }

  .menu-link {
    color: $white;
    border-bottom: solid 1px $white;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
  }

  .menu-link.active {
    color: $red;
  }
}
