<section class="eventos">
  <h4>Eventos</h4>
  <section *ngIf="events.length > 0; else noEvents">
    <div class="evento" *ngFor="let event of events">
      <div class="event-header">
        <h5>{{ event.title }}</h5>
        <div class="participants" *ngIf="participantsByEvent.get(event.id)">
          <div class="participant-pictures">
            <img
              *ngFor="let participant of participantsByEvent.get(event.id)"
              [src]="participantPictures.get(participant.id)"
              [alt]="participant.name"
              class="participant-pic"
              width="32"
              height="32"
            />
          </div>
        </div>
      </div>
      <p>{{ event.description }}</p>
      <i class="bi bi-calendar"></i><span>{{ event.date_time }}</span>
      <br />
      <i class="bi bi-geo-alt"></i><span>{{ event.location }}</span>
    </div>
  </section>
  <ng-template #noEvents>
    <p>No events available.</p>
  </ng-template>
</section>
