@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";

// GLOBALES
* {
  background-color: transparent;
  font-family: $font-family;
  color: $white;
  padding: 0;
  margin: 0;
}


.section{
  display: flex;
  
}

h4 {
  @include degradado-horizontal-texto($white, $grey);
  margin-bottom: 20px;
  margin-top: 20px;
}

h5{
  font-size: 15px;
}

section{
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 10%;
  
  .evento{
    background-color: $grey;
    border-radius: 15px;
    padding: 10px;

    p, span{
      background-color: red;
      font-size: 10px;
    }
  }
}
