<!--LISTA DE GRUPOS-->
<div *ngFor="let group of groups">
    <div >
        <h3>{{group.name}}</h3>
        <button (click)="getGroupDetalles(group.id)" style="background-color: red; color: white;">
            {{ expandedGroupId == group.id ? 'Cerrar' : 'Abrir'}}
        </button>
    </div>
    


    <div *ngIf="expandedGroupId == group.id">
        <p><strong>Descripción:</strong> {{ group.description }}</p>
        <p><strong>Creado por:</strong> {{ group.creator.name }}</p>
        <p><strong>Fecha de creación:</strong> {{ group.created_at | date }}</p>
    </div>


</div>



<div *ngIf="!formClicked; else formGroup">
    <p>¿Quieres crear un grupo?</p>
    <button (click)="openFormGroup($event)">Crea un grupo</button>
</div>

<ng-template #formGroup>
    <form method="POST" (ngSubmit)="onSubmit($event)">
        <input type="text" [(ngModel)]="name" name="name" placeholder="Nombre del grupo">
        <input type="text" [(ngModel)]="description" name="description" placeholder="Descripción">
        <input type="number" [(ngModel)]="reputation_required" name="reputation_required" placeholder="Reputación requerida">
        <button type="submit">CREAR GRUPO</button>
    </form>
</ng-template>
    
<button (click)="loadGroups()">GRUPOS</button>