// VARIABLES
$font-family: "Montserrat", sans-serif;
$background-color: #1d1d1d;
$red: #d04b4b;
$white: #ffffff;
$grey: #464646;
$color-dark: #121212;
$color-secondary: #2e2e2e;
$font-size-small: small;
$font-size-medium: medium;
$font-size-x-small: x-small;
$font-size-x-large: x-large;
