@import "../../../../styles/variables.scss";
@import "../../../../styles/mixin.scss";

// GLOBALES
* {
  background-color: transparent;
  font-family: $font-family;
  padding: 0;
  margin: 0;
  color: $white;
}

// CONTENEDOR PRINCIPAL

html {
  width: 100%;
}

body {
  background-image: url("../../../../assets/images/Wallp-Dark.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.logros {
    width: 100%;

    h4 {
      @include background-clip-text($white, $grey);
      margin-bottom: 20px;
      margin-top: 20px;
    }
  
    img {
      width: 100px;
    }
  
    .niveles {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      justify-content: space-between;
      width: 100%;
      max-width: 100%;
      flex-wrap: wrap;
  
      .nivel {
        width: 120px;
      }
  
      .nivel-nombre {
        background-color: #292929;
        border-radius: 20px;
        padding: 5px;
        font-weight: bold;
        font-size: smaller;
  
        #n1 {
          @include background-clip-text($white, #4a4a4a);
        }
  
        #n2 {
          @include background-clip-text($white, #d04b4b);
        }
  
        #n3 {
          @include background-clip-text($white, #edac1b);
        }
  
        .info {
          font-size: smaller;
          word-wrap: break-word;
          text-align: center;
          width: 100%;
          overflow: hidden;
        }
      }
    }
}

@media (min-width: 769px) {
    .logros{
        padding-left: 20%;
        padding-right: 20%;
    }
}