<section class="logros">
    <h4>Logros</h4>
    <div class="niveles">
    <div class="nivel text-center">
        <img src="../../../assets/images/logro1.png" alt="nivel 1" />
        <div class="nivel-nombre">
        <p id="n1">Iniciado</p>
        </div>
        <p class="info">1 Voluntariado</p>
    </div>
    <div class="nivel text-center">
        <img src="../../../assets/images/logro2.png" alt="nivel 2" />
        <div class="nivel-nombre">
        <p id="n2">Comprometido</p>
        </div>
        <p class="info">10 Voluntariados</p>
    </div>
    <div class="nivel text-center">
        <img src="../../../assets/images/logro3.png" alt="nivel 3" />
        <div class="nivel-nombre">
        <p id="n3">Leyenda</p>
        </div>
        <p class="info">20+ Voluntariados</p>
    </div>
    </div>
</section>