@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";

// GLOBALES
* {
  font-family: $font-family;
  padding: 0;
  margin: 0;
  background-color: $background-color;
}

// CONTENEDOR PRINCIPAL
.container-fluid {
  background-color: $background-color;
  margin: 0;
  padding: 0;
  color: $white;
  display: flex-inline;
}

.amigos {
  background-color: $background-color;
  list-style: none;
  margin: 0;
  padding: 5%;
}

.amigos h2 {
  display: none;
}

.amigo {
  padding: 20px;
  display: flex;
  text-align: center;
}

.amigo .foto {
  height: 50px;
  margin-left: 20px;
}

.amigo .nombre {
  white-space: nowrap;
  max-width: 100%;
  margin: 15px;
}

.grupos {
  margin-top: 15px;
  list-style: none;
  margin: 0;
  padding: 5%;
}

.grupos h2 {
  display: none;
}

.grupo {
  padding: 20px;
  padding-right: 30px;
  text-align: center;
  display: grid;
  grid-template-columns: 85px 70%;
}

.grupo .foto {
  height: 50px;
  margin-left: 20px;
}

.grupo .nombre {
  margin: 0;
  margin-right: auto;
  white-space: nowrap;
  max-width: 100%;
}

.grupos-miembros {
  list-style: none;
  max-width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-self: end;
}

.grupo-miembro img {
  height: 20px;
  margin: 5px;
}

// DESKTOP
@media (min-width: 769px) {
  app-header,
  app-navbar,
  app-footer {
    display: none;
  }

  * {
    background-color: $grey;
  }

  .amigos {
    background-color: $background-color;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .amigos h2 {
    @include background-clip-text($white, $grey);
  }

  .amigo {
    padding: 20px;
    display: flex;
    text-align: center;
  }

  .amigo .foto {
    height: 50px;
    margin-left: 20px;
  }

  .amigo .nombre {
    white-space: nowrap;
    max-width: 100%;
    margin: 15px;
  }

  .grupos {
    margin-top: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .grupos h2 {
    @include background-clip-text($white, $grey);
  }

  .grupo {
    padding: 20px;
    padding-right: 30px;
    text-align: center;
    display: grid;
    grid-template-columns: 30% 70%;
  }

  .grupo .foto {
    height: 50px;
    margin-left: 20px;
  }

  .grupo .nombre {
    margin: 0;
  }

  .grupos-miembros {
    list-style: none;
    max-width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    justify-self: end;
  }

  .grupo-miembro img {
    height: 20px;
    margin: 5px;
  }
}
