// Variables
$font-family: "Montserrat", sans-serif;
$background-color: #1d1d1d;
$primary-color: #d04b4b;
$white: #ffffff;
$grey: #464646;
$light-grey: #272727;
$font-size-small: small;
$font-size-medium: medium;
$font-size-x-small: x-small;
$font-size-x-large: x-large;



@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }



  * {
    background-image: url("../../../assets/images/Wallp-Dark.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
  }
  
  

