@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";

* {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  body {
    @include fondo-voluntapp;
  }
  
main{
    width: 100%;
    height: 100%;
    min-height: 69vh;

}

.sidebar {
    display: none;
    background-color: $grey;
    max-width: 100%;
}

.publicar {
    background-color: $red;
    border-radius: 50%;
    border: none;
    color: $white;
    font-size: $font-size-x-large;
    width: 50px; 
    height: 50px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    margin-bottom: 2%;
    margin-left: 80%;
    position: fixed;
    bottom: 13%;
    right: 7%;
}

.publicar:hover {
    background-color: darken($red, 10%); 
}

.publicar::after{
    content: "+";
}

@media (min-width: 481px) and (max-width: 768px) {
    html,body{
        height: 100%;
      }

    .publicar {
        border-radius: 20px;
        font-size: $font-size-medium;
        width: 100px; 
        height: 40px; 
    }

    .publicar::after{
        content: "Publicar";
    }
    main{
        width: 100%;
    } 
}

@media (min-width: 769px) {

  main,html {
    width: 60%;
    height: 100%;
    padding: 20px;
    margin-left: calc(20% + 20px); 

  }

 
 
  .sidebar {
    position: fixed;
    display: flex;
    background-color: $grey;
    flex-direction: column;
    text-align: center;
    left: 20px; 
    top: 110px; 
    width: 20%;
    color: $white;
    border-radius: 30px;
    padding: 15px;
    height: calc(100vh - 230px);
    overflow-y: auto;
    scrollbar-width: none; 
        
        // Personalización para navegadores basados en WebKit

        &::-webkit-scrollbar-track {
            background-color: $grey; // Color del fondo del track (trayectoria)
        }

        &::-webkit-scrollbar-thumb {
            background-color: $primary-color; // Color del "pulgar" (barra que se mueve)
        }
        
        &::-webkit-scrollbar {
            width: 6px; // Grosor de la barra vertical
          }

          // Personalización para Firefox
        scrollbar-width: thin; // Hacer el scroll más fino
        scrollbar-color: $light-grey $grey; // Color del "pulgar" y el track    

  }

    .publicar{
        border-radius: 20px;
        font-size: $font-size-medium;
        width: 120px; 
        height: 40px;

        &::after{
            content: "Publicar"; 
        }    
    }
}