<app-header></app-header>
<app-navbar></app-navbar>

<!-- CONTENEDOR PRINCIPAL -->
<div class="container-fluid">
  <!-- CUERPO DE LA PÁGINA-->
  <section class="main">
    <!-- SIDEBAR -->
    <aside class="sidebar">
      <app-friends></app-friends>
    </aside>

    <!-- POSTS -->
    <ul class="posts container">
      <!-- POST 1... -->
      <li
        class="post card mb-3"
        *ngIf="posts && posts.length > 0; else noPosts"
      >
        <div class="card-body" *ngFor="let post of posts">
          <!-- INFORMACIÓN DEL USUARIO -->
          <div class="usuario">
            <!-- [src]="getProfilePicture()" -->
            <img class="usuario-perfil" alt="perfil" />
            <h5 class="usuario-nombre">
              <!-- {{ post.user.name }} -->
            </h5>
          </div>
          <!-- CONTEIDO DEL POST -->
          <p class="post-contenido card-text">
            <!-- {{ post.content }} -->
          </p>
          <!-- ACIONNES POST  -->
          <form action="" method="" class="actions">
            <button><i class="bi bi-hand-thumbs-up"></i></button>
            <button><i class="bi bi-chat-dots"></i></button>
            <button><i class="bi bi-share"></i></button>
            <input
              class="unirme btn btn-danger btn-sm"
              type="submit"
              value="Unirme"
            />
          </form>
        </div>
      </li>

      <li class="post card mb-3">
        <div class="card-body">
          <div class="usuario">
            <img
              class="usuario-perfil"
              src="../Imagenes/avatar.png"
              alt="perfil"
            />
            <h5 class="usuario-nombre">María Fátima Rass</h5>
          </div>
          <p class="post-contenido card-text">
            ¡Increíble jornada de voluntariado! 🙌🌍 Hoy en Valencia limpiamos
            más de 3km de playa junto a personas increíbles. 💚 Gracias a
            tod&#64;s l&#64;s que hicieron esto posible. Cada pequeña acción
            cuenta, ¡y hoy lo demostramos! 💪✨
          </p>
          <form action="" method="" class="actions">
            <button><i class="bi bi-hand-thumbs-up"></i></button>
            <button><i class="bi bi-chat-dots"></i></button>
            <button><i class="bi bi-share"></i></button>
            <input
              class="unirme btn btn-danger btn-sm"
              type="submit"
              value="Unirme"
            />
          </form>
        </div>
      </li>

      <li class="post card mb-3">
        <div class="card-body">
          <div class="usuario">
            <img
              class="usuario-perfil"
              src="../Imagenes/avatar.png"
              alt="perfil"
            />
            <h5 class="usuario-nombre">Lisa García</h5>
          </div>
          <p class="post-contenido card-text">
            ¡Día increíble con el equipo! 🙌🌍 Hoy en Valencia limpiamos más de
            3km de playa junto a personas increíbles. 💚 Gracias a tod&#64;s
            l&#64;s que hicieron esto posible. Cada pequeña acción cuenta, ¡y
            hoy lo demostramos! 💪✨
          </p>
          <form action="" method="" class="actions">
            <button><i class="bi bi-hand-thumbs-up"></i></button>
            <button><i class="bi bi-chat-dots"></i></button>
            <button><i class="bi bi-share"></i></button>
            <input
              class="unirme btn btn-danger btn-sm"
              type="submit"
              value="Unirme"
            />
          </form>
        </div>
      </li>
      <!-- BOTÓN PUBLICAR -->
      <li class="publicar">
        <button class="bottom-0 end-0" [routerLink]="['/posts']"></button>
      </li>
    </ul>
  </section>
</div>

<!-- <div *ngIf="posts && posts.length > 0; else noPosts">
  <div *ngFor="let post of posts">
    <img [src]="getProfilePicture()" alt="Imagen Perfil">
    <p>{{ post.user.name }}</p>
    <p>{{ post.content }}</p>
  </div>
</div> -->

<ng-template #noPosts>
  <p>No hay posts</p>
</ng-template>

<app-footer></app-footer>
