// Variables
$font-family: "Montserrat", sans-serif;
$background-color: #1d1d1d;
$primary-color: #d04b4b;
$white: #ffffff;
$grey: #464646;
$light-grey: #272727;
$font-size-small: small;
$font-size-medium: medium;
$font-size-x-small: x-small;
$font-size-x-large: x-large;

@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  body {
    background-image: url("../../../assets/images/Wallp-Dark.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  

.main {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 69vh;

}

.sidebar {
    display: none;
    background-color: $grey;
    max-width: 100%;
}



.publicar {
    background-color: $primary-color;
    border-radius: 50%;
    border: none;
    color: $white;
    font-size: $font-size-x-large;
    width: 50px; 
    height: 50px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    margin-bottom: 2%;
    margin-left: 80%;

}

.publicar:hover {
    background-color: darken($primary-color, 10%); 
}

.publicar::after{
    content: "+";
}



@media (min-width: 481px) and (max-width: 768px) {
    html,body{
        height: 100%;
      }

    .publicar {
        border-radius: 20px;
        font-size: $font-size-medium;
        width: 100px; 
        height: 40px; 
    }

    .publicar::after{
        content: "Publicar";
    }
    main{
        width: 80%;
        margin-left: 10%;
    }

    
}

@media (min-width: 768px) {

  main,html {
    width: 60%;
    height: 100%;
    padding: 20px;
    margin-left: calc(20% + 20px); 

  }

 
 
  .sidebar {
    position: fixed;
    display: flex;
    background-color: $grey;
    flex-direction: column;
    text-align: center;
    left: 20px; 
    top: 110px; 
    width: 20%;
    color: $white;
    border-radius: 30px;
    padding: 15px;
    height: calc(100vh - 230px);
    overflow-y: auto;
  }

    .publicar{
        border-radius: 20px;
        font-size: $font-size-medium;
        width: 120px; 
        height: 40px;
    }

    .publicar::after{
        content: "Publicar";
        
    }




   
}