$grey: #464646;
$light-grey: #272727;

.comment {
  border-bottom: $grey 2px solid;
  padding-bottom: 2%;
}

.delete-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  padding: 0;
}

.delete-button:hover {
  color: red;
}