<form method="POST" (ngSubmit)="onSubmit()">
    <label>Email:</label><br>
    <input type="email" [(ngModel)]="email" name="email" required> <br><br>
    
    <label>Contraseña:</label><br>
    <input type="password" [(ngModel)]="password" name="password" required> <br><br>
    
    <a href="">¿Has olvidado tu contraseña?</a><br><br>
    <a [routerLink]="['/register']">¿Es tu primera vez con nosotros?</a>

    <button type="submit">Entrar</button>
  </form>
  <p *ngIf="error">{{ error }}</p>
  