@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";

// GLOBALES
* {
  font-family: $font-family;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("../../../assets/images/Wallp-Dark.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

// CONTENEDOR PRINCIPAL
.container-fluid {
  background-color: transparent;
  margin: 0;
  padding: 0;
}

// SECCIÓN PRINCIPAL
.main {
  display: flex;
  width: 100%;
  height: 100%;
}

.sidebar {
  display: none;
  max-width: 100%;
}

// NUEVOS POSTS
.new-post-container {
  background: transparent;
  padding: 10%;
  margin: 0;
  max-width: 100%;
}

.new-post-container form {
  width: 100%;
  max-width: 100%;
}

.new-post {
  margin: 0;
  padding: 0;
  background-color: $grey;
  border-radius: 5%;
  width: 100%;
  max-width: 100%;
  margin-bottom: 15px;
}

.new-content {
  padding: 0;
  background-color: $grey;
  color: $white;
  border: none;
  resize: none;
  margin: 10%;
  max-width: 80%;
  height: 400px;

  &::placeholder {
    color: $white;
  }
}

.publicar {
  display: flex;

  button {
    background-color: $red;
    border: none;
    color: $white;
    border-radius: 20px;
    font-size: $font-size-medium;
    width: 90px;
    height: 35px;
  }

  #descartar {
    margin-right: auto;
    margin-left: 20%;
  }

  #publicar {
    margin-right: 20%;
  }
}

.new-content:focus {
  outline: none;
}

// DESKTOP
@media (min-width: 1024px) {
  .sidebar {
    background-color: $grey;
    flex-direction: column;
    position: relative;
    text-align: center;
    display: flex;
    left: 0;
    margin-right: 20px;
    width: 400px;
    color: $white;
    border-radius: 30px;
    margin-left: -30px;
    padding: 15px;
  }

  .new-post-container {
    padding: 30px;
    padding-top: 10px;
    padding-right: 15%;
  }
}
