<body>
  <app-header></app-header>
  <app-navbar></app-navbar>

  <!-- CONTENEDOR PRINCIPAL -->
  <div class="container-fluid">
    <!-- CUERPO DE LA PÁGINA-->
    <section class="main">
      <!-- SIDEBAR -->
      <aside class="sidebar">
        <app-friends></app-friends>
      </aside>

      <!-- PUBLICAR POST  -->
      <div class="new-post-container container">
        <form id="panelPost" method="POST" (ngSubmit)="onSubmit()">
          <div class="new-post">
            <textarea
              type="text"
              class="new-content container"
              name="nuevo-post"
              placeholder="Escribe algo..."
              [(ngModel)]="postContent"
              required
            ></textarea>
            <!-- name="name" -->
          </div>
          <div class="publicar">
            <button id="descartar" type="button" (click)="resetForm()">
              Descartar
            </button>
            <button id="publicar" type="submit" class="bottom-0 end-0">
              Publicar
            </button>
          </div>
        </form>
      </div>
    </section>
  </div>

  <app-footer></app-footer>
</body>
